<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/headers.ejs') %>
    <title>404 not found</title>
</head>
<body class="notfound-background">
<div class="container-center">
    <h1 class="big-title">404</h1>
    <h2 class="subtitle">Not found</h2>
    <p class="notfound-description">The requested content has not been found on this server.</p>
    <button class="btn btn-primary btn-back btn-icon"><i class="bi bi-chevron-left"></i> Go back</button>
</div>
</body>
</html>