<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/headers.ejs') %>
    <title>404 not found</title>
</head>
<body>
    <h1>The requested content has not been found on this server.</h1>
</body>
</html>