<!doctype html>
<html lang="en">
<head>
    <%- include('../parts/headers.ejs'); %>
    <title>Apps</title>
</head>
<body>
    <div class="apps">
        <% for (const app of apps) { %>
            <div class="app">
                <h1><%= app.name %></h1>
                <p><%= app.description.slice(0, 500) %></p>
            </div>
        <% } %>
    </div>
</body>
</html>