<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/headers.ejs') %>
    <title>Error - <%- code %></title>
</head>
<body>
    <h1>Oops! An error occured!</h1>
    <h2>We're probably working on it.</h2>
    <h3><%- code %> - <%- message %></h3>
</body>
</html>