<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/headers.ejs') %>
    <title>WW-Auth Beta</title>
</head>
<body>
    <h1>
        WorldWild-Auth
    </h1>
    <p class="big">Worldwild Studios introduce WorldWild-Auth: A unique website to login into all WorldWild applications and even more.</p>

    <span class="row">
        <a href="/register" class="btn btn-primary btn-icon"><i class="bi bi-pencil-square"></i> Create your WorldWildID</a>
        <a href="/docs" class="btn btn-primary btn-icon"><i class="bi bi-code-square"></i> WorldWild-Auth for developpers</a>
    </span>
    <h2><%- users.length %> users registered.</h2>
</body>
</html>