<!doctype html>
<html lang="en">
<head>
    <%- include('../parts/headers.ejs'); %>
    <title>Oops! You must login to do that!</title>
</head>
<body>
    <div class="container-center">
        <h1 class="big-title">Oops!</h1>
        <h2 class="subtitle">You must be logged in to do that.</h2>
        <p class="notfound-description">You need to be logged in to go on that page or do whatever you want.</p>
        <a href="/login" class="btn btn-primary btn-icon"><i class="bi bi-chevron-left"></i> Login</a>
    </div>
</body>
</html>