<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/headers.ejs') %>
    <title>Register | WW-Auth Beta</title>
</head>
<body>
    <h1>
       Register
    </h1>
        <% if(messagesDanger) { %>
            <% for(let message of messagesDanger) { %>
                <%- message %>
            <% } %>
        <% } %>
    <form class="form" method="POST">
        <div class="field">
            <label class="label" for="username">Username</label>
            <input class="form-input-text" type="text" name="username" id="username" placeholder="A cool username (ClassyCrafter for example)">
        </div>
        <div class="field">
            <label class="label" for="firstName">First name</label>
            <input class="form-input-text" type="text" name="firstName" id="firstName" placeholder="An amazing name!">
        </div>
        <div class="field">
            <label class="label" for="lastName">Last name</label>
            <input class="form-input-text" type="text" name="lastName" id="lastName" placeholder="Your beautiful last name">
        </div>
        <div class="field">
            <label class="label" for="email">Email</label>
            <input class="form-input-text" type="email" name="email" id="email" placeholder="youremail@example.com">
        </div>
        <div class="field">
            <label class="label" for="phone">Phone</label>
            <input class="form-input-text" type="text" name="phone" id="phone" placeholder="Your phone number">
        </div>
        <div class="field">
            <label class="label" for="password">Password</label>
            <input class="form-input-text" type="password" name="password" id="password" placeholder="A cool safe password">
        </div>
        <div class="field">
            <label class="label" for="passwordConfirmation">Password Confirmation</label>
            <input class="form-input-text" type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation">
            <div class="btn-field grid-30-70">
                <button type="button" class="btn-transparent btn-primary back-btn btn-icon"><i class="bi bi-chevron-left"></i> Back</button>
                <button type="submit" class="btn btn-success btn-icon"><i class="bi bi-person-plus-fill"></i> Register</button>
            </div>
        </div>
    </form>
</body>
</html>