<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/headers.ejs') %>
    <title>Register | WW-Auth Beta</title>
</head>
<body>
    <h1>
       Register
    </h1>
    <form class="form" method="POST">
        <div class="field">
            <label class="label" for="username">Username</label>
            <input class="form-input-text" type="text" name="username" id="username" placeholder="Username">
        </div>
        <div class="field">
            <label class="label" for="firstName">First name</label>
            <input class="form-input-text" type="text" name="firstName" id="firstName" placeholder="First Name">
        </div>
        <div class="field">
            <label class="label" for="lastName">Last name</label>
            <input class="form-input-text" type="text" name="lastName" id="lastName" placeholder="Last Name">
        </div>
        <div class="field">
            <label class="label" for="email">Email</label>
            <input class="form-input-text" type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="field">
            <label class="label" for="phone">Phone</label>
            <input class="form-input-text" type="text" name="phone" id="phone" placeholder="Phone">
        </div>
        <div class="field">
            <label class="label" for="password">Password</label>
            <input class="form-input-text" type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="field">
            <label class="label" for="passwordConfirmation">Password Confirmation</label>
            <input class="form-input-text" type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation">
            <div class="btn-field grid">
                <button class="btn btn-primary btn-left grid-1-3">Test</button>

                <input class="btn btn-primary btn-right grid-1-3" type="submit" value="Register">
            </div>
        </div>
    </form>
    <!-- Placeholder href -->
</body>
</html>