<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/headers.ejs') %>
    <title>Register | WW-Auth Beta</title>
</head>
<body>
    <h1>
       Register
    </h1>
    <form class="form" method="POST">
        <div class="field">
            <label for="username">Username</label>
            <input class="form-input-text" type="text" name="username" id="username" placeholder="Username">
        </div>
        <div class="field">
            <label for="firstName">First name</label>
            <input class="form-input-text" type="text" name="firstName" id="firstName" placeholder="First Name">
        </div>
        <div class="field">
            <label for="lastName">Last name</label>
            <input class="form-input-text" type="text" name="lastName" id="lastName" placeholder="Last Name">
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input class="form-input-text" type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="field">
            <label for="phone">Phone</label>
            <input class="form-input-text" type="text" name="phone" id="phone" placeholder="Phone">
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input class="form-input-text" type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="field">
            <label for="passwordConfirmation">Password Confirmation</label>
            <input class="form-input-text" type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
    <!-- Placeholder href -->
</body>
</html>